<nb-card>
    <nb-card-body>
        <h1 class="text-center">Realizar Solicitud</h1>
        <p class="text-center">Realiza tu Solicitud</p>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <form [formGroup]="SolicitudForm" (ngSubmit)="OnSubmit()" aria-labelledby="title">
                    <div class="form-row space-input">
                        <div class="form-control-group col-6">
                            <label class="label">Institucion</label>
                            <nb-select fullWidth placeholder="Institucion" formControlName="institucion_id">
                                <nb-option *ngFor="let item of instituciones" value="{{item.id}}">
                                    {{item.nombre}}
                                </nb-option>
                            </nb-select>
                        </div>
                        <div class="form-control-group col-6">
                            <label class="label">Tipo de Solicitud</label>
                            <nb-select fullWidth placeholder="Tipo de solicitud" formControlName="tipo_solicitud_id">
                                <nb-option *ngFor="let tipo of tipoSolicitudes" value="{{tipo.id}}">
                                    {{tipo.descripcion_solicitud}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                    <div class="form-row space-input">
                        <div class="form-control-group col-6">
                            <label class="label">Motivo de la Solicitud</label>
                            <textarea placeholder="Describa el motivo" formControlName="motivo" nbInput fullWidth></textarea>
                        </div>
                    </div>
                    <div class="form-row space-input">
                        <div class="col-4">
                            <button nbButton shape="semi-round" status="success" type="submit">Enviar Solicitud</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>
