#login-page {

    background-image:url("../../../../../assets/background/login_background.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    max-height: 100vh;
  }
  