<nb-card>
    <nb-card-body>
        <h1 class="text-center">Mis certificados</h1>
        <p class="text-center">Todos mis certificados aprobados</p>
    </nb-card-body>
</nb-card>
<div class="row">
    <div class="col-sm-12 col-md-4" *ngFor="let certificado of certificados">
        <nb-card accent="info">
            <nb-card-header>{{certificado.institucion.nombre}}</nb-card-header>
            <nb-card-body>
              Titulo: {{certificado.json_data.titulo_curso}}
              <br>
              Fecha de Emision: {{certificado.json_data.fecha_emision| amDateFormat: 'LL'}}
            </nb-card-body>
            <nb-card-footer>
                <button nbButton nbTooltip="Ver certificado" ghost status="success" [routerLink]=""><nb-icon icon="eye-outline"></nb-icon></button>
                <button nbButton nbTooltip="Verificar Certificado" ghost status="info" [routerLink]=""><nb-icon icon="checkmark-circle-outline"></nb-icon></button>
            </nb-card-footer>
          </nb-card>
    </div>
</div>